img {
    /*width: 100px;*/
    height: 150px;
}

body {
    background: url(../images/background1.jpg) no-repeat fixed;
    background-size: 100% 100%;
}

li {
    display: inline-block;
    list-style: none;
}

/*.panel .panel-heading .panel-footer {*/
    /*background: transparent;*/
/*}*/