.panel {
    width: 150px;
    display: inline-block;
    list-style: none;
    color: #1d1d1d;
}

img {
    width: 100px;
}

body {
    background: url(../images/background1.jpg) no-repeat fixed;
    background-size: 100% 100%;
    color: white;
}

li {
    display: inline-block;
    list-style: none;
}

button {
    color: #1d1d1d;
}

#foot {
    border-top: 1px solid white;
}
.copyright {
    font-size: 0.75em;
    color: white;
    text-align: center;
}
.footer {
    background: transparent;
    border: none;
}
